---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from 'astro:content';
const posts = await getCollection('blog');
---

<Layout title="My Writing">
  <h1 class="text-center text-7xl mb-9">My Writing</h1>
  <ul class="mb-10 list-disc list-inside">
    {posts.map(post => (
      <li><a href={`/posts/${post.id}`}>{post.data.title}</a></li>
    ))}
  </ul>
</Layout>