---
import Layout from "../layouts/Layout.astro";
import data from "../static/data.json";
---

<Layout title="About Me">
	<h1 id="about" class="text-center text-7xl mb-9">About Me</h1>
	<img
	src={data.info.gravatar}
	class="rounded-full mx-auto relative mb-8"
	alt="Mat Harris Profile Picture"
/>
	<p class="mb-8">
		I am a white, cisgender, bi/pan, progressive, anti-racist, anti-fascist, urban cyclist, trekkie, whovian, and father of two. I was born and raised in rural southeastern Illinois and have lived in Springfield IL, Linköping Sweden, and for the past decade+ bounced back and forth between Washington DC and the Pacific Northwest. Currently I live in Portland, OR with my partner, two littles, and a Fika dog.
	</p>
	<p class="mb-8">
		Professionally, I am a <a href="/web-accessibility">Web Accessibility Specialist</a> and help lead the accessibility strategy for Product Design at <a href="https://www.ithaka.org/" target="_blank">ITHAKA</span></a> supporting our mission to expand access to knowledge and education around the world. I primarily work with our product teams as they integrate accessibility best practices into their agile sprints and ensure products like <a href="https://www.jstor.org/" target="_blank">JSTOR</a> are WCAG 2.2 AA compliant. I'm a <a href="https://www.credly.com/badges/f5dccba1-3bff-41c1-b0ca-c29699b5ee9d/public_url" target="_blank" rel="noopener noreferrer">certified Web Accessibility Specialist</a> and am active with the local meetup group <a href="https://www.meetup.com/en-AU/portland-accessibility-and-user-experience-meetup/" target="_blank"> Portland Accessibility and User Experience (PDX A11Y UX)</span></a>.
	</p>
	<p class="mb-8">
		Prior to making the switch to accessibilty advocacy, I was a front-end web developer at an <a href="https://seattlewebdesign.com" target="_blank">agency in Seattle</a> and have an academic background in Political Science and International Relations. My career started in the non-profit/association space working on special projects and quickly realized that I excelled most when using code to make things more beautiful and efficient.
	</p>
	<p class="mb-8">
		I have several years experience in web development using semantic HTML, CSS, JavaScript, WAI-ARIA, PHP, SQL, Git with working knowledge of WordPress and Laravel development.
	</p>
	<p class="mb-8">
		Pronouns: <a
			href="http://pronoun.is/he"
			target="_blank"
			>he/him <span class="fa fa-external-link mr-0" aria-hidden="true"
			></span></a>
	</p>
</Layout>

<style>

</style>
