---
import Layout from "../layouts/Layout.astro";
import config from "../static/data.json";
---

<Layout title="About Me">
	<h1 id="about" class="text-center text-7xl mb-9">About Me</h1>
	<img
	src={config.config.info.gravatar}
	class="rounded-full mx-auto relative mb-8"
	alt="Mat Harris Profile Picture"
/>
	<p class="mb-8">
		I am a white, cisgender, bi/pan, progressive, anti-capitalist, urban cyclist, girl dad, trekkie, whovian. I was born and raised in rural southern Illinois. I've lived in Springfield IL, Linköping Sweden, and for the past ~12 years ping-ponged between Washington DC and the Pacific Northwest. 
	</p>
	<p class="mb-8">
		Professionally, I am a <a href="/web-accessibility" class="underline">Web Accessibility Specialist</a> and help lead the accessibility strategy for Product & Design at <a href="https://www.ithaka.org/" target="_blank" class="underline">ITHAKA</span></a> supporting our mission to expand access to knowledge and education around the world. I'm a <a href="https://www.credly.com/badges/4fc50fe3-36de-4ba9-ba1d-43df44611bac/public_url" target="_blank" rel="noopener noreferrer">certified Web Accessibility Specialist</a> and am active with the local meetup group <a href="https://www.meetup.com/a11y-dmv/" target="_blank" class="underline">a11yDC</span></a>.
	</p>
	<p class="mb-8">
		Prior to making the switch to accessibilty advocacy, I was a front-end web developer and have an academic background in Political Science and International Relations. My career started in the non-profit/association space working on special projects and quickly realized that I excelled most when using code to make things more beautiful and efficient.
	</p>
	<p class="mb-8">
		I have several years experience in web development using semantic HTML, CSS, JavaScript, PHP, SQL, Git with working knowledge of WordPress and Laravel development.
	</p>
	<p class="mb-8">
		Pronouns: <a
			class="underline"
			href="http://pronoun.is/he"
			target="_blank"
			>he/him <span class="fa fa-external-link mr-0" aria-hidden="true"
			></span></a>
	</p>
</Layout>

<style></style>
