---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout title="About Me | Mat Harris | Web Developer">
	<main>
		<section class="about container lg:max-w-4xl mx-auto py-14 px-4 lg:px-0">
			<h1 id="about" class="text-center text-7xl mb-9">About Me</h1>
			<p class="mb-4">
				I am a Web Accessibility Specialist and help lead the accessibility
				strategy at <a href="https://www.ithaka.org/" target="_blank"
					>ITHAKA <span class="fa fa-external-link mr-0" aria-hidden="true"
					></span></a
				> supporting our mission to expand access to knowledge and education around
				the world.
			</p>
			<p class="mb-4">
				I have several years experience in HTML, CSS, JavaScript, PHP, SQL, Git
				with working knowledge of WordPress and Laravel development.
			</p>
			<p class="mb-4">
				Prior to making the switch to accessibilty advocacy, I was a front-end
				web developer and have an academic background in Political Science and
				International Relations. My career started in the non-profit/association
				space working on special projects and quickly realized that I excelled
				most when using code to make things more beautiful and efficient.
			</p>
			<p class="mb-4">
				I'm interested in collaboration, open-source projects, and focusing on
				making more accessible web experiences for all users.
			</p>
			<p class="mb-4">
				Pronouns: <a
					class="underline"
					href="http://pronoun.is/he"
					target="_blank"
					>he/him <span class="fa fa-external-link mr-0" aria-hidden="true"
					></span></a>
			</p>
		</section>
	</main>
</Layout>

<style></style>
