---
import Layout from "../layouts/Layout.astro";
import { getCollection } from 'astro:content';
const books = await getCollection('books');
---

<Layout title="2025 Books I've Read">
  <h1 id="about" class="text-center text-7xl mb-9">2025 Books I've Read</h1>
  <p>Here's a list of books I've read in 2025. To see what I'm reading now, check out my <a href="/now">now</a> page.</p>
  <p>If I'm not able to get something from my local library via <a href="https://libbyapp.com/">Libby</a>, I try to support local bookstores by using <a href="https://bookshop.org/" target="_blank" rel="noopener noreferrer">Bookshop.org</a> for physical books, and I use <a href="https://libro.fm/" target="_blank" rel="noopener noreferrer">Libro.fm</a> for audiobooks.</p>
  <ol>
      {books.map(book => (
        <li><a href={`${book.data.url}`}>{book.data.title} by {book.data.author} ({book.data.type})</a></li>
      ))}
  </ol>
  <p>Last updated: Sept 20, 2025</p>
</Layout>

<style>
  @reference "../styles/global.css";
  a {
    @apply underline;
  }

  p {
    @apply mb-4;
  }

  ol {
    @apply my-10 list-decimal list-inside;
  }
</style>
