---
import HomeLayout from "../layouts/HomeLayout.astro";

import {
	UserIcon,
	BookOpenIcon,
	CodeBracketIcon,
	ClipboardDocumentListIcon,
	ArrowTopRightOnSquareIcon,
	ClockIcon,
} from "@heroicons/vue/24/solid";
---

<HomeLayout title="Mat Harris | Web Accessibility Specialist">
	<main>
		<section class="intro px-4 py-8 md:p-14">
			<div class="container lg:max-w-4xl mx-auto">
				<svg
				class="logo h-28 lg:h-52"
				width="100%"
				height="100%"
				viewBox="0 0 1121 896"
				aria-hidden="true"
				>
				<path
				d="M37.5,887.5l125,-879.167l25,0l345.833,700l300,-604.166l-204.166,-0l-0,-95.834l487.5,0l-0,95.834l-200,-0l112.5,783.333l-104.167,0l-37.5,-287.5l-195.833,0l-141.667,287.5l-33.333,0l-295.834,-600l-83.333,600l-100,0Zm708.333,-395.833l129.167,-0l-29.167,-195.834l-100,195.834Z"
				style="fill:white;"></path>
			</svg>
			<h1 class="text-center text-6xl my-14">
				Hi hello there, I'm Mat Harris
			</h1>
				<p class="mt-14 text-3xl text-center leading-loose">
					<a class="underline" href="/web-accessibility">Web Accessibility Specialist</a>, front-end dev, studied Poli Sci & Int
					Rel, anti-racist, anti-fascist, midwest bred, DC based, <a
						href="http://pronoun.is/he"
						target="_blank"
						class="underline"
						>he/him <ArrowTopRightOnSquareIcon
							class="size-8 inline-block text-white align-text-top"
						/></a
					>
				</p>
			</div>
		</section>
		<section>
			<ul class="divide-y-4 divide-white border-white border-y-4">
				<li class="bg-gray-800 hover:bg-slate-700">
					<a href="/about" class="block px-4 py-8 md:p-14 text-4xl">
						<span class="flex container lg:max-w-4xl mx-auto">
							<UserIcon
								class="size-10 inline-block mr-4 align-text-top text-white"
							/>About
						</span>
					</a>
				</li>
				<li class="bg-emerald-700 hover:bg-slate-700">
					<a href="/now" class="block px-4 py-8 md:p-14 text-4xl">
						<span class="flex container lg:max-w-4xl mx-auto">
							<ClockIcon
								class="size-10 inline-block mr-4 align-text-top text-white"
							/>Now
						</span>
					</a>
				</li>
				<li class="bg-teal-800 hover:bg-slate-700">
					<a href="/projects" class="block px-4 py-8 md:p-14 text-4xl">
						<span class="flex container lg:max-w-4xl mx-auto">
							<CodeBracketIcon
								class="size-10 inline-block align-text-top mr-4 text-white"
							/>Projects</span
						>
					</a>
				</li>
				<li class="bg-cyan-800 hover:bg-slate-700">
					<a href="/posts" class="block px-4 py-8 md:p-14 text-4xl">
						<span class="flex container lg:max-w-4xl mx-auto">
							<BookOpenIcon
								class="size-10 inline-block mr-4 align-text-top text-white"
							/>Posts</span
						></a
					>
				</li>
				<li class="bg-sky-800 hover:bg-slate-700">
					<a href="/resume" class="block px-4 py-8 md:p-14 text-4xl">
						<span class="flex container lg:max-w-4xl mx-auto">
							<ClipboardDocumentListIcon
								class="size-10 inline-block mr-4 align-text-top text-white"
							/>Resume</span
						>
					</a>
				</li>
			</ul>
		</section>
	</main>
</HomeLayout>

<style>
	@reference "../styles/global.css";
	.bg-img {
		position: absolute;
		top: -25%;
		left: 0;
		width: 100%;
	}
	.intro {
		background-color: #135;
	}

	.projects {
		background-color: #31708f;
	}

	.projects:hover {
		@apply bg-slate-700;
	}
</style>
