---
import Layout from "../layouts/Layout.astro";
import { getCollection } from 'astro:content';
const updates = (await getCollection('updates')).sort(
  (a, b) =>  b.data.id - a.data.id,
)
---

<Layout title="Now">
  <h1 id="about" class="text-center text-7xl mb-9">Now</h1>
  <p>Last updated: 2025-10-11</p>
  <p>Here are some of things I'm doing / watching / reading right now!</p>
  <p class="mb-8">(This is a <a href="https://nownownow.com/about" target="_blank">now page</a> and if you have your own site, you should make one, too!).</p>
  <h2 class="mb-4 text-4xl">Current vibes:</h2>
  <p class="mb-4">{updates[0].data.content}</p>
  <a href="/updates" class="block mb-8">View earlier updates</a>
  <h2 class="mb-4 text-4xl">Currently reading: </h2>
  <ul>
    <li>Audiobooks: 
      <ul class="ml-4 mb-2">
        <li>Recently finished: <a href="https://libro.fm/audiobooks/9781478960140-ancillary-mercy">Ancillary Mercy (Imperial Radch: Book #3) by Ann Leckie</a></li>
        <li>Next up: <a href="https://libro.fm/audiobooks/9780063418578-the-ai-con">The AI Con: How to Fight Big Tech’s Hype and Create the Future We Want by  Emily M. Bender & Alex Hanna</a></li>
      </ul>
    </li>
    <!-- <li>eBook: 
      <ul class="ml-4 mb-2">
        <li>Currently reading: <a href="https://bookshop.org/p/books/notes-on-a-nervous-planet-matt-haig/6675449?ean=9780525505211&digital=t" target="_blank" rel="noopener noreferrer">Notes on a Nervous Planet by Matt Haig</a></li>
      </ul>
    </li> -->
    <li>Physical book:
      <ul class="ml-4 mb-2">
        <li>Recently finished: <a href="https://bookshop.org/p/books/translation-state/18928288?ean=9780316289719" target="_blank" rel="noopener noreferrer">Translation State by Ann Leckie</a></li>
        <li>Currently reading: <a href="https://bookshop.org/p/books/chain-gang-all-stars-a-read-with-jenna-pick-a-novel-nana-kwame-adjei-brenyah/cad31a8d03c3b603" target="_blank" rel="noopener noreferrer">Chain Gang All Stars by Nana Kwame Adjei-Brenyah</a></li>
      </ul> 
    </li>
    <li><a href="/books">2025 Books list</a></li>
  </ul>
  <h2 class="mb-4 text-4xl">Watching / playing / listening:</h2>
  <ul>
    <li>TV shows: Star Trek - Strange New World</li>
    <li>Video Games: <a href="https://store.steampowered.com/app/1284190/The_Planet_Crafter/" target="_blank">The Planet Crafter</a>, <a href="https://store.steampowered.com/app/367520/Hollow_Knight/" target="_blank">Hollow Knight</a>, <a href="https://store.steampowered.com/app/1497460/Wheel_World/" target="_blank">Wheel World</a></li>
    <li>I support public radio! <a href="https://www.opb.org/" target="_blank">91.5 OPB</a></li>
    <li>Daily podcast queue:
      <ul class="list-disc list-inside pl-6">
        <li><a href="https://www.npr.org/podcasts/510318/up-first" target="_blank" rel="noopener noreferrer">NPR's Up First</a></li>
        <li><a href="https://portland.citycast.fm/" target="_blank" rel="noopener noreferrer">City Cast Portland</a></li>
        <li><a href="https://www.npr.org/podcasts/500005/npr-news-now" target="_blank" rel="noopener noreferrer">NPR's News Now</a></li>
        <li><a href="https://www.npr.org/podcasts/510316/1a" target="_blank" rel="noopener noreferrer">NPR's 1A</a></li>
        <li><a href="https://www.npr.org/podcasts/408524085/think-out-loud" target="_blank" rel="noopener noreferrer">OPB's Think Out Loud</a></li>
        <li><a href="https://www.npr.org/podcasts/510355/considerthis" target="_blank" rel="noopener noreferrer">Consider This from NPR</a></li>
      </ul>
    </li>
    <li>Weekly Podcasts:
      <ul class="list-disc list-inside pl-6">
        <li><a href="https://www.theverge.com/decoder-podcast-with-nilay-patel" target="_blank" rel="noopener noreferrer">Decoder from The Verge</a></li>
        <li><a href="https://crooked.com/podcast-series/pod-save-america/" target="_blank" rel="noopener noreferrer">Pod Save America</a></li>
        <li><a href="https://www.npr.org/podcasts/510333/throughline" target="_blank" rel="noopener noreferrer">Throughline</a></li>
        <li><a href="https://www.npr.org/podcasts/510312/codeswitch" target="_blank" rel="noopener noreferrer">Code Switch</a></li>
        <li><a href="https://link.chtbl.com/TWSCC" target="_blank" rel="noopener noreferrer">The Weekly Show with Jon Stewart</a></li>
      </ul>
    </li>
  </ul>
  <h2 class="mb-4 text-4xl">Some of my favorite things:</h2>
  <ul class="list-disc list-inside">
    <li>RSS Feed reader: <a href="https://feedbin.com/" target="_blank">Feedbin</a></li>
    <li>Audiobook provider: <a href="https://libro.fm/referral?rf_code=lfm194048" target="_blank">Libro.fm (referral link)</a></li>
    <li>eBook & audiobook provider: <a href="https://libbyapp.com/" target="_blank">Libby</a> - Support your local library!</li>
    <li>Browser: <a href="https://arc.net/" target="_blank">Arc Browser</a></li>
    <li>Note Taking: <a href="https://obsidian.md/" target="_blank">Obsidian</a></li>
  </ul>
</Layout>

<style>
  @reference "../styles/global.css";

  ul {
    @apply mb-10 list-disc list-inside;
  }

  ul ul {
    @apply mb-2;
  }
</style>
