---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Now">
  <h1 id="about" class="text-center text-7xl mb-9">Now</h1>
  <p>Last updated: 2025-03-31</p>
  <p class="mb-8">Here are some of things I'm doing / watching / reading right <a href="https://nownownow.com/about" target="_blank">now! (This is a now page and if you have your own site, you should make one, too!)</a>.</p>
  <h2 class="mb-4 text-4xl">Currently reading: </h2>
  <ul>
    <li>Audiobooks: 
      <ul class="ml-4 mb-2">
        <li>Currently listening to: <a href="https://libro.fm/audiobooks/9781250403155-careless-people" target="_blank">Careless People: A Cautionary Tale of Power, Greed, and Lost Idealism</a></li>
      </ul>
    </li>
    <li>eBook: <a href="https://torpublishinggroup.com/redshirts/?isbn=9781429963602&format=ebook" target="_blank" rel="noopener noreferrer">Redshirts by John Scalzi</a></li>
    <li>Physical book: <a href="https://bookshop.org/p/books/translation-state/18928288?ean=9780316289719" target="_blank" rel="noopener noreferrer">Translation State by Ann Leckie</a></li>
  </ul>
  <h2 class="mb-4 text-4xl">Watching / playing / listening:</h2>
  <ul>
    <li>TV shows: Star Trek - Voyager, Shrinking, The Pitt</li>
    <li>Video Games: No Man's Sky, Balatro</li>
    <li>Daily podcast queue:
      <ul class="list-disc list-inside pl-6">
        <li> <a href="https://www.npr.org/podcasts/510318/up-first" target="_blank" rel="noopener noreferrer">NPR's Up First</a></li>
        <li><a href="https://www.npr.org/podcasts/500005/npr-news-now" target="_blank" rel="noopener noreferrer">NPR's News Now</a></li>
        <li><a href="https://www.npr.org/podcasts/510316/1a" target="_blank" rel="noopener noreferrer">NPR's 1A</a></li>
        <li><a href="https://www.washingtonpost.com/newsletters/the-7/" target="_blank" rel="noopener noreferrer">WashPost's The 7</a></li>
        <li><a href="https://www.npr.org/podcasts/510355/considerthis" target="_blank" rel="noopener noreferrer">Consider This from NPR</a></li>
        <li><a href="https://www.npr.org/podcasts/510310/npr-politics-podcast" target="_blank" rel="noopener noreferrer">The NPR Politics Podcast</a></li>
        <li><a href="https://www.npr.org/podcasts/510312/codeswitch" target="_blank" rel="noopener noreferrer">Code Switch</a></li>
      </ul>
    </li>
    <li>Weekly Podcasts:
      <ul class="list-disc list-inside pl-6">
        <li><a href="https://www.theverge.com/decoder-podcast-with-nilay-patel" target="_blank" rel="noopener noreferrer">Decoder from The Verge</a></li>
        <li><a href="https://crooked.com/podcast-series/pod-save-america/" target="_blank" rel="noopener noreferrer">Pod Save America</a></li>
        <li><a href="https://www.npr.org/podcasts/510333/throughline" target="_blank" rel="noopener noreferrer">Throughline</a></li>
        <li><a href="https://www.npr.org/podcasts/510312/codeswitch" target="_blank" rel="noopener noreferrer">Code Switch</a></li>
      </ul>
    </li>
  </ul>
  <h2 class="mb-4 text-4xl">Some of my favorite things:</h2>
  <ul class="list-disc list-inside">
    <li>RSS Feed reader: <a href="https://feedbin.com/" target="_blank">Feedbin</a></li>
    <li>Audiobook provider: <a href="https://libro.fm/referral?rf_code=lfm194048" target="_blank">Libro.fm (referral link)</a></li>
    <li>Browser: <a href="https://arc.net/" target="_blank">Arc Browser</a></li>
    <li>Note Taking: <a href="https://obsidian.md/" target="_blank">Obsidian</a></li>
  </ul>
</Layout>

<style>
  @reference "../styles/global.css";
  a {
    @apply underline;
  }

  ul {
    @apply mb-10 list-disc list-inside;
  }

  ul ul {
    @apply mb-2;
  }
</style>
