---
import Layout from '../layouts/Layout.astro';
import ProjectsVue from '../components/Projects.vue';
import config from '../static/data.json'
import '../styles/global.css'
---

<Layout title="Welcome to Astro.">
	<main>
    <ProjectsVue projects={config.config.projects}></ProjectsVue>
	</main>
</Layout>

<style>
	
</style>
