---
import Layout from "../layouts/Layout.astro";
// import StudySection from "../components/StudySection.astro";
---

<Layout title="Study">
  <h1 class="text-center text-7xl mb-9">Study</h1>
  <p class="text-center">Here is where I've done some of my learning!</p>
  <!-- <StudySection /> -->
</Layout>

<style>
  .html {
    background-color: #39add1;
  }

  .css {
    background-color: #3079ab;
  }

  .js {
    background-color: #c25975;
  }

  .wp {
    background-color: #838cc7;
  }

  .devtools {
    background-color: #637a91;
  }

  .php {
    background-color: #7d669e;
  }

  .fa-circle {
    display: inline-block;
    height: 24px;
    width: 24px;
    border-radius: 100%;
    margin-right: 10px;
  }

  .profile li {
    line-height: 2em;
  }
</style>
