---
---
<div
  class="
    prose 
    dark:prose-invert 
    prose-p:text-xl 
    prose-p:leading-loose 
    prose-p:text-white 
    prose-ul:text-xl 
    prose-p:indent-6
    max-w-none
  ">
  <slot />
</div>